@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Roboto:300,400,500,700,900');

		*{
			margin: 0;
			padding: 0;

			box-sizing: border-box;
		}


		/*EDITOR*/
		#con-editor{
			width: 60%;
			position: relative;
			left: 20%;
			margin-top: 50px;
		}

		#editor{
			display: flex;
			flex-direction: column;
			background: #eee;
			padding: 5px;
			border-radius: 10px;
			box-shadow: rgba(31, 3, 70, 1) 0px 0px 20px;
		}

		/*CAJA DE TEXTO*/
		#cajaTexto{
			background: #fff;
			width: 100%;
			height: 50vh;
			outline: none;
			border: solid 1px #ccc;
			border-radius: 5px 5px 0px 0px;
			padding: 10px;
			margin-bottom: 10px;

			font-family: 'Roboto';
		}

        

        .button {

			background: red;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
          }
		  .button:hover{
			background: rgba(255, 0, 0, 0.855);

		  }

		/*MENU*/
		#menu{
			background: #ddd;
			width: 100%;
			border: solid 1px #ccc;
			border-radius: 5px;
			padding: 5px;
		}

		.comando{
			padding: 5px 10px;
			background: white;
			border: solid 1px #ccc;

			outline: none;
			cursor: pointer;
		}

		.comando:active{
			border: solid 1px #555;
			background: #eee;
		}

		#btnUnderline > span{
			text-decoration: underline;
		}

		#btnColor > span{
			color: #35037F;
		}

		#btnBackColor > span{
			background: gold;
			padding: 3.5px 5px;
		}
	.question_padre{
			display: flex;
			  justify-content: flex-start;
	}
	.question{
		text-align: center;
		width: 100%;
		margin-top: 80px;
		padding: 15px;
		border: 8px double #343a40 ;
		border-radius: 10px;
	}
	.leyenda{
		text-align: center;
		width: 18%;
		height: 300px;
		margin-top: 80px;
		/* border: 1px solid #007bff ; */
		/* background-color: rgba(45, 48, 50, 0.1); */
		/* background-image: linear-gradient(to bottom, rgba(0,123,255,.3), transparent) !important;  */
		border-radius: 10px;
		margin-left: 1rem;
		margin-right: 1rem;
		display: flex;
  		justify-content: space-around;
		align-items: center !important;
	}
	table{
		width: 95%;
		height: 80%;
	}
	.t-cab{
		text-align: center;
	}
	#tdesacuerdo{
		background-image: linear-gradient(to right, rgba(255,0,0,0), #ff0000);
	}
	#desacuerdo{
		background-image: linear-gradient(to right, rgba(255,0,0,0), #fc7800);
	}
	#neutro{
		background-image: linear-gradient(to right, rgba(255,0,0,0), #f7ff00);
	}
	#acuerdo{
		background-image: linear-gradient(to right, rgba(255,0,0,0), #afff00);
	}
	#tacuerdo{
		background-image: linear-gradient(to right, rgba(255,0,0,0), #64ff00);
		
	}
	.resultado{
		text-align: center;
		width: 18%;
		height: 600px;
		margin-top: 80px;
		padding: 15px;
		/* border: 2px solid #343a40 ; */
		border-radius: 10px;
		margin-left: 1rem;
		margin-right: 1rem;
	}
	.result_medicion{
		display: flex;
  		justify-content: space-around;
		/* align-items: center !important; */
	}
	.medidor{
		height: 450px;
		width: 20%;
		background:linear-gradient( #64ff00,#afff00, #f7ff00, #fc7800, #ff0000);
	}
	.valor{
		background: #35037F;
		height: 450px;
		width: 80%;
	}
	#table_medicion{
		/* height: 480px; */
		width: 90%;
		border-bottom: 1px solid #555;
	}
	.flecha{
		font-weight: 1000;
		 float: left;
	}
	.altoAuto{
		height: 24px;
	}
	.puntaje{
		color: #007bff !important;
	}
	.text-result{
        display: flex;
        justify-content: space-between;
		color: #343a40;
	}


	.input-q{
		background: #fff;
		height: 6vh;
		border: solid 1px #007bff;
		border-radius: 3px;
		margin-bottom: 10px;
		float: right !important;
		font-family: 'Roboto';
		margin-top: 5px;
		padding: 8px !important;
		text-align: center !important;
	}
	.row{
		display: flex;
  		justify-content: space-between;
		margin: 5px !important;
		border-bottom: solid 0.5px #343a40;
	}
	.row-ult{
		display: flex;
  		justify-content: space-between;
		margin: 5px !important;
	}
	.text-q{
		text-align: left;
		font-size: 18px;
		color: 343a40 ;
		padding: 5px;
	}

	#titleQ{
		color: #007bff;
	}
	.titleQ{
		display: flex;
  		justify-content: center;
	}
