body{
  align-items: center;

}
.grid-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 20px;*/

    justify-content: center; 
    padding-top: 45px;
    position: relative;
    width: 90vw;

  
    margin: 0 auto;
  }
  
  .grid-item {
    width: 240px;
    max-height: 170px;
    object-fit: cover;
    margin-bottom: 40px;
    border-radius: 15px;
    cursor: zoom-in;
    background-color: black;
    align-items:  center; 
  }
  .grid-item img{
    width:100%;
  }
  
  .grid-item:hover {
    filter: opacity(0.9);
  }

.perfil{
	height: 25px;
	width: auto;
  padding-right: 5px;
}
.custom-main{
  padding-top:20px
}
#alerta_encuesta{
  margin-top: 20px;
  width: 70%;
  background-color: #343a40 ;
  height: 80px;
  border-radius: 10px;
  color: white;
}
.ir_encuesta{
  text-decoration: none !important;
  border: 1px solid #FC6300;
  border-radius: 5px;
  padding: 10px;
  background-color: #FC6300;
  font-weight: 700;
  color: #343a40 !important;
  transition: 0.5s;
}
.pequenio{
  margin-top: 5px;
}
.ir_encuesta:hover{
  border: 1px solid #FF9048;
  background-color: #FF9048;
}